* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #191a19;
}

.form {
	position: relative;
	width: 350px;
	padding: 40px 40px 60px;
	background: #131419;
	border-radius: 20px;
	text-align: center;
	box-shadow: -5px -5px 10px #27ab4a,
				 5px  5px 10px #272cab;
}

.form h2 {
	color: #2758ab;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.form .input {
	text-align: left;
	margin-top: 40px;
}

.form .input .inputbox {
	margin-top: 20px;
}

.form .input .inputbox label {
	display: block;
	color: #27ab3f;
	margin-bottom: 5px;
	font-size: 18px;
}

.form .input .inputbox input {
	width: 100%;
	height: 50px;
	background: #131419;
	border: none;
	outline: none;
	border-radius: 40px;
	padding: 5px 10px 5px;
	color: #f05989;
	font-size: 18px;
	color: #40b377;
	box-shadow: inset -2px -2px 5px #fce747,
				inset  2px  2px 5px #111112;
}

.form .input .inputbox input[type = "submit"] {
	margin-top: 20px;
	box-shadow:  -2px -2px 5px #f1f0f5,
				  2px  2px 5px #111112;
}

.form .input .inputbox input[type = "submit"]:active {
	color: #40b377;
	margin-top: 20px;
	box-shadow: inset -2px -2px 5px #f1f0f5,
				inset  2px  2px 5px #111112;
}

.form .input .inputbox input::placeholder {
	color: #555;
	font-size: 18px;
}

.forget {
	color: #555;
	margin-top: 30px;
}

.forget a {
	color: #f50c75;
}